PORT=3001
SUPABASE_URL=
SUPABASE_SECRET_KEY=
OPENAI_API_KEY=
WORDPRESS_CLIENT_ID=
WORDPRESS_CLIENT_SECRET=
WORDPRESS_REDIRECT_URI=http://localhost:3001/api/wordpress/callback
WORDPRESS_SITE_ID=86836728
WORDPRESS_SITE_URL=https://anthonyfontaine.wordpress.com
